<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="konteigaApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="konteigaApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="konteigaApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="konteigaApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Konteiga</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
    <b><a href="/">Konteiga</a></b> - VERY PRE-APLHA STAGE... COULD BREAK! :D<br/>
    <p></p>
    <div ng-view></div>
    <p></p>
    Current List:</br>
    <div ng-repeat="currentItem in allItems">
        <a href="#/item/{{currentItem.KeyID}}"><span ng-bind="currentItem.Title"></span></a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-messages.min.js"></script>
    <script src="ace/ace.js"></script>
    <script src="ui-ace.js"></script>
    <script src="app.js"></script>
    <script src="components/konteiga/konteigaFactory.js"></script>
    <script src="components/konteiga/konteigaController.js"></script>
</body>
</html>
