<div ng-bind-html="parsedItem"></div>

<form name="itemForm">
    <b>Title</b><br/>
    <input type="text" name="myTitle" ng-model="title"></input>
</form>

<p></p>

<div id="editor" ui-ace="{
    onLoad: aceLoaded,
    mode: 'markdown',
    theme: 'monokai'
}"></div>

<br/><p></p>

<button ng-click="saveItem()">SAVE</button>
