<form name="itemForm">
    <b>Title</b><br/>
    <input type="text" name="myTitle" ng-model="title" required="true"></input>
    <div ng-messages="itemForm.myTitle.$error" role="alert">
        <div ng-message="required" style="color:#aa0000"><b>You must enter a title</b></div>
    </div>
</form>

<p></p>

<div id="editor" ui-ace="{
    onLoad: aceLoaded,
    mode: 'markdown',
    theme: 'monokai'
}"></div>

<br/><p></p>

<button ng-click="saveItem()">SAVE</button>
<p></p>
<div ng-bind="parsedItem"></div>
